<navbar></navbar>
<main>
  <!-- <div>
    <h1>Found in {{ $ctrl.name }}.html</h1>
    <login></login>
  </div> -->
  <div class="login-container">
    <div class="form-container" data-ng-if ="!$ctrl.user.isLoggedIn">
      <form ng-submit="$ctrl.submitForm()">
        <div class="input-field">
          <input placeholder="Enter username... " ng-model="$ctrl.username"/>
        </div>
        <div class="submit-button">
          <button type="submit" >Submit</button>
        </div>
      </form>
    </div>
    <div class="user-display" data-ng-if="$ctrl.user.isLoggedIn">
      {{$ctrl.user.username}}
      <button type="button" data-ng-click="$ctrl.logout()">Logout</button>
    </div>
  </div>
</main>
