<navbar></navbar>
<main class="home">
  <!-- <div>
    <h1>Found in {{ $ctrl.name }}.html</h1>
    <login></login>
  </div> -->
  <div class="login-container">
    <div class="form-container" data-ng-if ="!$ctrl._user.isLoggedIn">
      <form ng-submit="$ctrl.submitForm()">
        <div class="input-field">
          <input  type="text" placeholder="Enter username... " ng-model="$ctrl.username"/>
        </div>
        <div class="submit-button">
          <button type="submit" >Submit</button>
        </div>
      </form>
    </div>
    <div class="user-display" data-ng-if="$ctrl._user.isLoggedIn">
      <div class="user-info">
        Hola! {{$ctrl._user.username}}
        <button type="button" data-ng-click="$ctrl.logout()">Logout</button>
      </div>
      <div class="design-list">
        <ul>
          <li ng-repeat="design in $ctrl._user.designs track by $index" ng-click="$ctrl.selectDesign(design.id)">{{ design.name }}, {{ design.created_at }}</li>
        </ul>
      </div>
      <div class="new-design-form">
        <form name="new-design-form" ng-submit="$ctrl.createNewDesign()">
          <input name="new-design" type="text" ng-model="$ctrl.newDesignName" required/>
          <span ng-show="newDesignForm.newDesign.$touched && newDesignForm.newDesign.$invalid">The design name is required.</span>
          <button type="submit">Add New Design</button>
        </form>
      </div>
    </div>
  </div>
</main>
