@import "../../common/common";

.home {
  height: 80%;
  font-size: 14px;

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn-primary {
    color: #fff;
    background-color: $accentColor;
    border-color: #66a5ad;
  }

  .btn-cta {
    color: #fff;
    background-color: $accentColor;
    border-color: #003B46;
  }

  .login-container {
    height: 100%;
    display: flex;
    justify-content: center;

    .form-container {
      align-self: center;

      form {
        .input-field {
          input {
            font-size: 5em;
            width: 600px;
            color: $accentColor;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $accentColor;
          }
        }

        .submit-button {
          text-align: center;

          button {
            border: none;
            height: 100px;
            background-color: transparent;
            border: 2px solid $accentColor;
            width: 600px;
            color: $accentColor;
            border-radius: 10px;
            font-size: 5em;
            margin-top: 20px;
          }
        }
      }
    }

    .user-display {
      width: 60%;

      .user-info {
        margin-top: 20px;
      }

      .list {
        margin-top: 20px;
        border:2px solid #66a5ad;
        border-radius: 3px;

        ul {
          cursor: pointer;

          li {
            padding-top:2px;
            padding-bottom: 2px;
            padding-left: 2px;
            border-bottom: 1px solid #66a5ad;
            border-radius: 5px;

            .delete-icon {
              background-color: #66a5ad;
              color: #FFF;
            }
          }

          li:first-child {
            background-color: $accentColor;
            color: white;
            font-size: 16px;
            cursor: auto;
            border:none;
            border-radius: 0;
          }

          .li-selected {
            background-color: #66A5AD;
            color:#FFF
          }
        }
      }

      .new-design-form {
        margin-top: 20px;
      }
    }
  }
}
