@import '../common';

.navbar {
  background-color: $primaryColor;
  padding: 1rem;
  font-family: $lobsterFont;
  display: flex;
  justify-content: center;

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn-primary {
    color: #fff;
    background-color: $accentColor;
    border-color: #66a5ad;
  }

  .home-button {
    left: 10px;
    position: absolute;
  }

  .nav-links,
  .logo {
    h1 {
      font-size: 8em;
      color: $lightTextColor;
      margin:0;
    }
  }

  .in-editor {
    h1 {
      font-size: 24px;
      -webkit-transition: all .25s linear;
      -moz-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
    }
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
