<navbar></navbar>
<div class="editor-container">
  <div class="editor-comoponents">
    <div class="interaction-menu flex-item-sub">
      <div class="add-text">
        <label for="file">Add a text box in canvas</label>
        <button class="btn btn-primary" ng-click="$ctrl.addText()">Add Text</button>
      </div>
      <div class="file-upload">
        <form >
         <div>
           <label for="file">Choose file to upload</label>
           <input  class="btn btn-primary" type="file" id="file" name="file" accept=".jpg, .jpeg, .png"/>
         </div>
         <div>
           <button class="btn btn-primary" type="button" ng-click="$ctrl.uploadImage()">Upload</button>
         </div>
        </form>
      </div>
      <div class="list">
        <div class="object-list">
          <ul>
            <li ng-if="$ctrl.objectsList.length < 1">Add something to canvas...</li>
            <li>Canvas Items lists</li>
            <li ng-repeat="item in $ctrl.objectsList track by $index">
              {{$index+1}}.
              <span ng-click="$ctrl.selectObject($index)">{{item.type}}</span>
              <span class="delete-icon" ng-click="$ctrl.removeItemFromCanvas($index)"> X</span>
            </li>
          </ul>
        </div>
        <div class="object-list">
          <ul>
            <li ng-if="$ctrl.selectedDesign.history.length < 1">Save canvas to generate history...</li>
            <li>Edit History</li>
            <li ng-repeat="history in $ctrl.selectedDesign.history track by $index"
                ng-click="$ctrl.selectDesignFromHistory(history.data, $index)"
                ng-class="{'li-selected': $ctrl.selectedHistoryIndex === $index}"
            >{{$index+1}}. {{ $ctrl.humanReadableDate(history.created_at) }}</li>
          </ul>
        </div>
      </div>
    </div>
    <canvas id="canvas" class="canvas flex-item-main" width="800" height="480"></canvas>
  </div>
  <div class="main-options">
    <div class="save">
      <button type="button" ng-click="$ctrl.updateDesign()">Save</button>
    </div>
    <div class="reset">
      <button type="button" ng-click="$ctrl.reset()">Reset</button>
    </div>
  </div>
</div>
